 @model IEnumerable<RequestMasterVacation>
<div class="main">
  
    <main class="p-3">
        <div class="container-fluid">
            <div class="mb-3 text-center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Request Date</th>

                            <th scope="col"></th>
                            <th scope="col">Vacations</th>
                            <th scope="col"></th>
                            

                            <th scope="col">Approve</th>
                            <th scope="col">Events</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td >@item.Id</td>
                                <td>@item.Employee?.Name</td>
                                <td>@item.DateApprove</td>
                                <td style="background-color:@item.VacationType?.Color">  @item.From.ToShortDateString() </td>

                                <td style="background-color:@item.VacationType?.Color">@item.VacationType?.Name </td>
                                <td style="background-color:@item.VacationType?.Color">  @item.To.ToShortDateString() </td>




                                <td>
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="@item.Approve">


                                </td>
                                <td>
                                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"  >Delete</a>



                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>